{%use "user/header.html.twig" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Movie{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            .table {
                border-spacing: 0 15px;
            }

            i {
                font-size: 1rem !important;
            }

            .table tr {
                border-radius: 20px;
            }

            tr td:nth-child(n+5),
            tr th:nth-child(n+5) {
                border-radius: 0 .625rem .625rem 0;
            }

            tr td:nth-child(1),
            tr th:nth-child(1) {
                border-radius: .625rem 0 0 .625rem;
            }
        </style>
    </head>
    <body>
        {% block header %}
            {{ parent() }}
        {% endblock %}

        <div class="w-full h-full flex align-center bg-black text-white">
            <div class="w-12/12 md:w-4/12">
                <div class="w-full md:w-5/6 p-4 rounded">
                    <img id="cardPoster" src="" alt="" class="w-full h-full rounded">
                </div>
            </div>
            <div class="w-12/12 md:w-8/12 flex" style="flex-direction: column;">
                <h2 id="cardTitle" class="font-bold"
                    style="font-size: 53px; margin: 0 0 30px 0;"></h2>
                <p id="cardReview" class="text-xl mb-4"></p>
                <div class="w-full mb-4">
                    <span id="cardGenres" class="text-lg text-gray-400"></span>
                </div>
            </div>

        </div>
        <div class="flex  justify-center min-h-screen bg-gray-900">
                <div class="col-span-12">
                    <div class="overflow-auto lg:overflow-visible ">

                        <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold
                            leading-tight text-center md:text-center">
                            Comments:</h1>
                        <div class=" grid grid-cols-2 gap-4">
                            <textarea class="comments" PLACEHOLDER="Enter text here...">

                            </textarea>

                            <div class="commentList grid gap-4 grid-cols-1">

                            </div>


                            <button type="button" class="sendComment text-white bg-gray-800
                            hover:bg-gray-900 focus:outline-none focus:ring-4
                            focus:ring-gray-300 font-medium rounded-full text-sm
                            px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700
                            dark:focus:ring-gray-700 dark:border-gray-700">
                                SEND
                            </button>
                        </div>


                        <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-center">
                            Recommendations</h1>
                        <div class="recquery grid grid-cols-7 gap-4">


                        </div>
                    </div>
                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script>
            let movies=[];

            function getdata(){
                const settings = {
                    async: true,
                    crossDomain: true,
                    url: 'https://api.themoviedb.org/3/movie/{{ movieId }}?language=en-US',
                    method: 'GET',
                    headers: {
                        accept: 'application/json',
                        Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTlmN2Q3MmYzOGQ2ZjIzNDEzZTVjODRjZmNmYTMwNSIsInN1YiI6IjY0ZGJhZGM5Yjc3ZDRiMTE0MjVkZmEwNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OE2bMBkUtaosNS2qL0Sik6tci6W5dGw3AtQFcpH-Elg'
                    }
                };

                $.ajax(settings).done(function (response) {
                    movies=response;

                    render(movies)
                });
            }
            function checkcomments(cb){
                var input;
                input = $(".comments").val();



                const settings = {

                    url: '/movie/{{movieId}}/Checkcomments',
                    data: {
                        movieid:{{ movieId }},
                        comment: input,

                    }
                };

                $.ajax(settings).done(function (response) {
                    cb();
                });
            }

            function render(movies){
                let gen=movies.genres
                let generesXPelicula = [];

                gen.map(function (idmov){
                    generesXPelicula.push(idmov.name);
                });

                $("#cardPoster").attr("src", `https://image.tmdb.org/t/p/w500${movies.poster_path}`);
                $("#cardTitle").text(movies.original_title)
                $("#cardReview").text(movies.overview)
                $("#cardGenres").text(generesXPelicula.join(" | "))


            }

            function getRecom(){
                const settings = {
                    async: true,
                    crossDomain: true,
                    url: 'https://api.themoviedb.org/3/movie/{{ movieId }}/recommendations?language=en-US&page=1',
                    method: 'GET',
                    headers: {
                        accept: 'application/json',
                        Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTlmN2Q3MmYzOGQ2ZjIzNDEzZTVjODRjZmNmYTMwNSIsInN1YiI6IjY0ZGJhZGM5Yjc3ZDRiMTE0MjVkZmEwNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OE2bMBkUtaosNS2qL0Sik6tci6W5dGw3AtQFcpH-Elg'
                    }
                };

                $.ajax(settings).done(function (response) {
                    let recmovies = response.results;
                    renderrec(recmovies)
                });
            }

            function rendercomments(cb){
                const settings = {

                    url: '/movie/{{movieId}}/chargeComments',
                    data:{
                        movieid:{{movieId}},
                    }
                };

                $.ajax(settings).done(function (response) {
                    console.log("Render comments response")
                    commentslist=response.comments;
                    console.log(commentslist)


                    var movieInf= []
                    commentslist.map(function (com){
                        //console.log(com)
                        element = `
                        <div class="border-double border-4
                        border-black-500 bg-gray-400 text-gray-900
                        text-center rounded">
                        <h5 class="text-end text-xss">${com.datem}</h5>
                        <h3>${com.username} : <br></h3>
                        <p>${com.comments}</p>
                        <button type="button" class="deletebut item-end text-white
                        bg-red-700 hover:bg-red-800 focus:outline-none
                        focus:ring-4 focus:ring-red-300 font-medium
                        rounded-full text-sm px-5 py-2.5 text-center
                        mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700
                        dark:focus:ring-red-900">Delete</button>

                        </div>


                        `
                        movieInf.push(element);
                    });
                    $('.commentList').empty().append(movieInf.join(''));

                    cb();
                });




            }

            function renderrec(recmovies){
                var movieInf= []
                var i;
                var k=recmovies;
                let element;

                for (i = 0; i < recmovies.length; ++i) {
                    element = `
                        <div class="">
                            <a href="/movie/${k[i].id}">
								<img class="" src="https://image.tmdb.org/t/p/w500${k[i].poster_path}" >
                                <h1 class="p-3 text-white opacity-75 font-bold leading-tight
                                    text-center md:text-center" >
                                    ${k[i].original_title}
                                </h1>
                            </a>
                        </div>`
                    movieInf.push(element);
                }
                $('.recquery').empty().append(movieInf.join(''));
            }
            function deletecomments(comments,cb){
                const settings = {

                    url: '/movie/{{movieId}}/deleteComments',
                    data:{

                        comments:comments
                    }
                };
                $.ajax(settings).done(function (response) {

                    console.log(response)
                    //cb();



                })


            };

            $( document ).ready(function() {
                getdata();
                getRecom();
                rendercomments(function() {});

                $('.sendComment').on("click",function() {
                    checkcomments(() => {
                        console.log("Respondio check comments");
                        rendercomments(() => {
                            $(".comments").val("");
                            console.log("Fin del click")
                        });
                    });
                });
                $('.commentList').on("click",".deletebut",function(){
                    deletecomments(() => {
                        console.log("se borrro");
                        rendercomments(() => {
                            $(".comments").val("");
                            console.log("cargo sin el comentario")
                        });
                    });

                });
            });
        </script>
    </body>
</html>
