{%use "user/header.html.twig" %}
{%use "user/tablemovieformat.html.twig" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Movie{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <style>
            .table {
                border-spacing: 0 15px;
            }

            i {
                font-size: 1rem !important;
            }

            .table tr {
                border-radius: 20px;
            }

            tr td:nth-child(n+5),
            tr th:nth-child(n+5) {
                border-radius: 0 .625rem .625rem 0;
            }

            tr td:nth-child(1),
            tr th:nth-child(1) {
                border-radius: .625rem 0 0 .625rem;
            }
            #map {
                width: 100vw;
                height: 600px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;}
        </style>
    </head>
    <body>
        {% block header %}
            {{ parent() }}
        {% endblock %}
        <div class="w-full h-full flex align-center bg-black text-white">
            <div class="w-12/12 md:w-4/12">
                <div class="w-full md:w-5/6 p-4 rounded">
                    <img id="cardPoster" src="" alt="" class="w-full h-full rounded">
                </div>
            </div>
            <div class="w-12/12 md:w-8/12 flex" style="flex-direction: column;">
                <h2 id="cardTitle" class="font-bold"
                    style="font-size: 53px; margin: 0 0 30px 0;"></h2>
                <p id="cardReview" class="text-xl mb-4"></p>
                <div class="w-full mb-4">
                    <span id="cardGenres" class="text-lg text-gray-400"></span>
                </div>
            </div>

        </div>
        <div class="flex  justify-center min-h-screen bg-gray-900">
            <div class="col-span-12">
                <div class="overflow-auto lg:overflow-visible ">

                    <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold
                        leading-tight text-center md:text-center">
                        Comments:</h1>
                    <div class=" grid grid-cols-2 gap-4">
                        <textarea class="comments" PLACEHOLDER="Enter text here...">

                        </textarea>

                        <div class="commentList grid gap-4 grid-cols-1">

                        </div>


                        <button type="button" class="sendComment text-white bg-gray-800
                        hover:bg-gray-900 focus:outline-none focus:ring-4
                        focus:ring-gray-300 font-medium rounded-full text-sm
                        px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700
                        dark:focus:ring-gray-700 dark:border-gray-700">
                            SEND
                        </button>
                    </div>


                    <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-center">
                        Recommendations</h1>
                    <div id="map" class="w-full h-full flex align-center">

                    </div>
                    {% block tablemovieformat %}
                        {{ parent() }}
                    {% endblock %}

                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="{{ asset("assets/js/movieUtils.js") }}"></script>

        <script>
            let moviesIn=[];

            /**
             * Creamos objeto de la clase de utilidades
             */
            //let movieUtils = new MovieUtils();
            function getdata(){
                const settings = {
                    async: true,
                    crossDomain: true,
                    url: 'https://api.themoviedb.org/3/movie/{{ movieId }}?language=en-US',
                    method: 'GET',
                    headers: {
                        accept: 'application/json',
                        Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTlmN2Q3MmYzOGQ2ZjIzNDEzZTVjODRjZmNmYTMwNSIsInN1YiI6IjY0ZGJhZGM5Yjc3ZDRiMTE0MjVkZmEwNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OE2bMBkUtaosNS2qL0Sik6tci6W5dGw3AtQFcpH-Elg'
                    }
                };

                $.ajax(settings).done(function (response) {
                    movies=response;
                    console.log(movies)

                    renderinfo(movies)
                    obtmap(movies)
                });
            }

            function checkcomments(cb){
                var input;
                input = $(".comments").val();



                const settings = {

                    url: '/app/movie/{{movieId}}/Checkcomments',
                    data: {
                        movieid:{{ movieId }},
                        comment: input

                    }
                };

                $.ajax(settings).done(function (response) {
                    cb();
                });
            }

            function renderinfo(movies){
                let gen=movies.genres
                let generesXPelicula = [];

                gen.map(function (idmov){
                    generesXPelicula.push(idmov.name);
                });

                $("#cardPoster").attr("src", `https://image.tmdb.org/t/p/w500${movies.poster_path}`);
                $("#cardTitle").text(movies.original_title)
                $("#cardReview").text(movies.overview)
                $("#cardGenres").text(generesXPelicula.join(" | "))


            }

            function getdatatable(){
                const settings = {
                    async: true,
                    crossDomain: true,
                    url: 'https://api.themoviedb.org/3/movie/{{ movieId }}/recommendations?language=en-US&page=1',
                    method: 'GET',
                    headers: {
                        accept: 'application/json',
                        Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkMTlmN2Q3MmYzOGQ2ZjIzNDEzZTVjODRjZmNmYTMwNSIsInN1YiI6IjY0ZGJhZGM5Yjc3ZDRiMTE0MjVkZmEwNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OE2bMBkUtaosNS2qL0Sik6tci6W5dGw3AtQFcpH-Elg'
                    }
                };

                $.ajax(settings).done(function (response) {
                    let recmovies = response.results;
                    render(recmovies)
                });
            }

            function rendercomments(cb){
                const settings = {

                    url: '/app/movie/{{movieId}}/chargeComments',
                    data:{
                        movieid:{{movieId}},
                    }
                };

                $.ajax(settings).done(function (response) {
                    commentslist=response.comments;
                    var rol =response.Rol;
                    var botondel =` `;




                    var movieInf= []
                    commentslist.map(function (com){
                        if (rol == "a"){
                            botondel= `<button type="button"
                                               data-idcom="${com.id}"

                                               class="deletebut  item-end text-white
                        bg-red-700 hover:bg-red-800 focus:outline-none
                        focus:ring-4 focus:ring-red-300 font-medium
                        rounded-full text-sm px-5 py-2.5 text-center
                        mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700
                        dark:focus:ring-red-900">Delete</button>`;
                        }
                        element = `
                        <div class="border-double border-4
                        border-black-500 bg-gray-400 text-gray-900
                        text-center rounded">
                        <h5 class="text-end text-xss">${com.datem}</h5>
                        <h3>${com.username} : <br></h3>
                        <p>${com.comments}</p>
                        ${botondel}


                        </div>


                        `
                        movieInf.push(element);
                    });

                    $('.commentList').empty().append(movieInf.join(''));

                    cb();
                });




            }

            function deletecomments(commentId,cb){
                const settings = {

                    url: '/app/movie/{{movieId}}/deleteComments',
                    data:{
                        comments:commentId
                    }
                };
                $.ajax(settings).done(function (response) {

                    cb();
                    console.log(response)


                })
            }

            function obtmap(movies){

                const plac = [[19.3920064,-99.1855777],[21.0738448,-77.7553179],
                    [44.7970976,-91.7870486],[46.9588142,18.6236573]];

                var coords=[]

                const random = Math.floor(Math.random() * plac.length);
                coords.push(plac[random])

                console.log(coords)
                coords.map(function (cord){
                    var map = L.map('map').setView(cord, 13);
                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '© OpenStreetMap'
                    }).addTo(map);
                    var marker = L.marker(cord).addTo(map);
                    var popup = L.popup({
                        offset: [0, -30]
                    })
                        .setLatLng(cord)
                        .setContent(`<a href=${movies.homepage} target="_blank"><h1>${movies.original_title}</h1></a>` )
                        .openOn(map);

                });
            }

            $( document ).ready(function() {
                getdata();
                getdatatable();
                rendercomments(function() {});

                $('.sendComment').on("click",function() {
                    checkcomments(() => {
                        rendercomments(() => {
                            $(".comments").val("");
                        });
                    });
                });
                $('.commentList').on("click",".deletebut",function(){
                    var idcom=$(this).attr("data-idcom")

                    deletecomments(idcom, () => {
                        rendercomments(() => {
                            $(".comments").val("");
                        });
                    });

                });
            });
        </script>
    </body>
</html>
