{%use "user/header.html.twig" %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body>
        {% block header %}
            {{ parent() }}
        {% endblock %}
        {% block body %}
            <div class="p-16 bg-gray-100">
                <div class="p-8 bg-white shadow mt-24">
                    <div class="grid grid-cols-1 md:grid-cols-3">
                        <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
                            <div>
                                <input type="file" class="changeAvatar text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                                    shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
                                value="Change Avatar" >

                            </div>
                            <div>
                                <p class="font-bold text-gray-700 text-xl"></p>
                                <p class="text-gray-400"></p>
                            </div>
                            <div>
                                <p class="font-bold text-gray-700 text-xl"></p>
                                <p class="text-gray-400"></p>
                            </div>
                        </div>
                        <div class="relative">
                            <div class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute
                            inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
                                <svg id="svgphoto" xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114
                                    0H3z" clip-rule="evenodd" /></svg>
                                <img id="avatarphoto"  alt="avatarPhoto" class="rounded-full">
                            </div>
                        </div>
                        <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
                            <div>
                                <button  class="changepass text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                            shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                                    Change Password</button>
                                <div
                                        class="formpass !visible hidden rounded-lg shadow-lg"

                                        >
                                    <div class="mb-6">
                                        <label  class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                                        <input type="password"
                                               class="oldpss bg-gray-50 border
                                               border-gray-300 text-gray-900
                                               text-sm rounded-lg
                                               focus:ring-blue-500 focus:border-blue-500
                                               block w-full p-2.5 dark:bg-gray-700
                                               dark:border-gray-600 dark:placeholder-gray-400
                                               dark:text-white dark:focus:ring-blue-500
                                               dark:focus:border-blue-500" placeholder="•••••••••"
                                               required>
                                    </div>
                                    <div class="mb-6">
                                        <label  class="block mb-2 text-sm font-medium text-gray-900 ">New password</label>
                                        <input type="password"
                                               class="newpasss bg-gray-50 border border-gray-300
                                               text-gray-900 text-sm rounded-lg
                                               focus:ring-blue-500 focus:border-blue-500
                                               block w-full p-2.5 dark:bg-gray-700
                                               dark:border-gray-600 dark:placeholder-gray-400
                                               dark:text-white dark:focus:ring-blue-500
                                               dark:focus:border-blue-500"
                                               placeholder="•••••••••" required>
                                    </div>
                                    <div class="mb-6">
                                        <label  class="block mb-2 text-sm font-medium text-gray-900 ">Confirm password</label>
                                        <input type="password"
                                               class="confirmpasss bg-gray-50 border border-gray-300
                                               text-gray-900 text-sm rounded-lg
                                               focus:ring-blue-500 focus:border-blue-500 block
                                               w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                                               dark:placeholder-gray-400 dark:text-white
                                               dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               placeholder="•••••••••" required>
                                    </div>
                                    <div class="grid grid-cols-1 md:grid-cols-3">
                                        <button  class="chanpasswo text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                            shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                                            Change</button>

                                        <div>
                                            <p class="font-bold text-gray-700 text-xl"></p>
                                            <p class="text-gray-400"></p>
                                        </div>

                                        <button  class="cancelpass text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                            shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                                            Cancel</button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="mt-20 text-center border-b pb-12">
                        <h1 class="surname text-4xl font-medium text-gray-700">

                        </h1>
                        <p class="emaiusr font-light text-gray-600 mt-3"></p>

                    </div>  <div class="mt-12 flex flex-col justify-center">
                        <p class="userdescription text-gray-600 text-center font-light lg:px-16">
                            </p>
                        <button  class="addDes text-indigo-500 py-2 px-4  font-medium mt-4">Add Description</button>

                    </div>
                    <div class="grid grid-cols-3 gap-4">

                        <a href="{{ path('favorites') }}" class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                    shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                                <button >
                                    Favorites</button>
                        </a>
                        <a href="{{ path('usercomments') }}" class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                    shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                            <button  >
                                Comments</button>
                        </a>
                        <a href="{{ path('userlist') }}" class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800
                            shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                             <button >
                                Movie L</button>





                        </a>
                        <div></div>
                        <div></div>
                        <div>
                            <h1 class="mb-2 mt-0 text-xl font-medium
                            leading-tight text-primary " >
                                New list</h1>
                            <div class=" grid grid-cols-2 gap-4 bg-gray-900">
                                <textarea d="chat" rows="1" class="namenewlist block mx-4
                                p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border
                                border-gray-300 focus:ring-blue-500 focus:border-blue-500
                                dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400
                                dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                          placeholder="Your message..."></textarea>
                                <button class="newlist text-white">Create</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <style>

        </style>
        <script>
            function getUserinfo(){
                const settings = {

                    url: '/app/AccessUserInfo',
                    data: {


                    }
                };

                $.ajax(settings).done(function (response) {
                    var username=response.info
                    $('.surname').append(username.username);
                    $('.emaiusr').append(username.email);


                });
            }
            function changepasww(oldpss,newpass,confirmpass){
                const settings = {

                    url: '/app/changepssword',
                    data: {
                        oldpss:oldpss,
                        newpass:newpass,
                        confirmpass:confirmpass


                    }
                };

                $.ajax(settings).done(function (response) {
                    console.log(response)
                    alert(response.info);
                });
            }
            function changeAvatar(avatar){
                let formdata= new FormData();
                formdata.append("avatar2",avatar)

                const settings = {

                    url: '/app/changeAvatar',
                    data: formdata,
                    cache:false,
                    contentType:false,
                    processData:false,
                    method:'POST'
                };

                $.ajax(settings).done(function (response) {
                    console.log(response)
                    chargeAvatar();
                });
            }
            function chargeAvatar(){

                const settings = {

                    url: '/app/chargeAvatar',

                };

                $.ajax(settings).done(function (response) {
                    console.log(response)
                    $('#avatarphoto').attr("src","{{ asset("photos") }}/" + response.phto)
                    $('#svgphoto').addClass( "!visible hidden" )
                });
            }
            function render(){

            }
            function checknamel(){
                var input;
                input = $(".namenewlist").val();
                console.log(input)



                const settings = {
                    url:'/app/addlist',
                    data: {

                        nameli: input,

                    }
                };

                $.ajax(settings).done(function (response) {
                    console.log(response)

                });
            }
            $( document ).ready(function() {
                getUserinfo()
                chargeAvatar()



                $('.addDes').on("click", function() {
                    console.log("no se puede jsjsjs")
                });

                $('.newlist').on("click",function() {
                    checknamel()
                    console.log("nueva lista o no")
                });
                $('.changepass').on("click",function (){
                    console.log("cambias tu contraseña o eso se supone")
                    $('.formpass').removeClass( "!visible hidden" )

                })
                $('.cancelpass').on("click",function (){
                    $('.formpass').addClass( "!visible hidden" )
                })
                $('.chanpasswo').on("click",function (){
                    let oldpss= $('.oldpss').val();
                    let newpass= $('.newpasss').val();
                    let confirmpass= $('.confirmpasss').val();
                    if (newpass != confirmpass){
                        alert("Tu nueva contraseña es diferente");

                    }
                    else{
                        changepasww(oldpss,newpass,confirmpass)
                        $('.formpass').addClass( "!visible hidden" )


                    }

                })
                $('.changeAvatar').on("change",function(e){
                    console.log(e.target.files[0])

                    var avatar= e.target.files[0]
                    if (avatar.type != "image/jpeg"){
                        alert("no se puede jsjs")
                        $(".changeAvatar").val("");
                    }
                    else{
                        changeAvatar(avatar)
                    }

                })





            });
        </script>




        {% endblock %}
    </body>
</html>
